BOT_TOKEN=meow.meow.lol
PXLSLOG_EXPLORER_DIR=D:path/to/your/pxlslog-explorer/target/release
OWNER_ID=an_integer
UPDATE_CHANNEL_ID=also_an_integer
ADMIN_SERVER_ID=another_integer
DEV_SERVER_ID=some_other_integer

AUTHORISED_ID=also_an_integer,another_integer
AUTHORISED_ROLE_ID=also_an_integer
POINTS_UPDATE_CHANNEL_ID=also_an_integer # only useful if you have points_db.py
OPERATIONS_CONCLUSION_CHANNEL_ID=also_an_integer # only useful if you have points_db.py
OPERATIONS_CHANNEL_ID=also_an_integer # only useful if you have points_db.py

REQUEST_NAME=you
REQUEST_TOKEN=meowmoew
REQUEST_STATS_URL=https://example.com/file.json
REQUEST_INFO_URL=https://example.com/info

50_POINTS_ROLE=discord_role_id
100_POINTS_ROLE=discord_role_id
250_POINTS_ROLE=discord_role_id
500_POINTS_ROLE=discord_role_id
750_POINTS_ROLE=discord_role_id
1000_POINTS_ROLE=discord_role_id
1300_POINTS_ROLE=discord_role_id
1600_POINTS_ROLE=discord_role_id
2000_POINTS_ROLE=discord_role_id
2500_POINTS_ROLE=discord_role_id
3000_POINTS_ROLE=discord_role_id
4000_POINTS_ROLE=discord_role_id
5000_POINTS_ROLE=discord_role_id
6000_POINTS_ROLE=discord_role_id
7500_POINTS_ROLE=discord_role_id
10000_POINTS_ROLE=discord_role_id
15000_POINTS_ROLE=discord_role_id
22500_POINTS_ROLE=discord_role_id
35000_POINTS_ROLE=discord_role_id
50000_POINTS_ROLE=discord_role_id
75000_POINTS_ROLE=discord_role_id
100000_POINTS_ROLE=discord_role_id

